/*
CSS File for test website
*/

p{color:aqua}

input[type="button"]{
    transition: color 5s;
    transition: background-color 1s;
    color:cyan;
    background-color:salmon;
    }

input[type="button"]:hover{background-color:lightsalmon}